<div class="jumbotron">
  <h1>Mike's Homework 5 Submission</h1>
  <p class="lead">
    <img src="images/yeoman.png" alt="I'm Yeoman"><br>
    Made with Yeoman
  </p>
</div>

<div class="row marketing">
	<p>In this assignment you will find a brief blog post where I do my best 
		to describe how to get started with angular and a list of angular tutorials.<p>
	<p>The point of this assignment was to familiarize myself with Yeoman, Grunt, and the
		other technologies we learned about in class, so it doesn't look very pretty :(<p>
</div>
